.items {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.item {
    font-style: 16px;
    line-height: 25px;
    width: 50px;
}

.item.active {
    color: red;
    border-bottom: 1px solid red;
}